---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Chart from '../components/Chart.astro';

const maxFreq = 50;
---

<Layout title="SigTransformer">
    <header class="flex flex-col items-center justify-center">
		<h1 class="mt-5 text-white">Signal <span class="text-gradient">Transformer</span></h1>
        <a href="https://www.github.com/alias313/sig-transformer" target="_blank" rel="noopener noreferrer" class="absolute top-0 right-0 m-4 w-20">
			<svg viewBox="-25.6 -25.6 307.20 307.20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet" fill="#000000">
				<g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(23.040000000000006,23.040000000000006), scale(0.82)">
				  <rect x="-25.6" y="-25.6" width="307.20" height="307.20" rx="153.6" fill="#ffffff" stroke-width="0"></rect>
				</g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
				  <g fill="#161614">
					<path d="M127.505 0C57.095 0 0 57.085 0 127.505c0 56.336 36.534 104.13 87.196 120.99 6.372 1.18 8.712-2.766 8.712-6.134 0-3.04-.119-13.085-.173-23.739-35.473 7.713-42.958-15.044-42.958-15.044-5.8-14.738-14.157-18.656-14.157-18.656-11.568-7.914.872-7.752.872-7.752 12.804.9 19.546 13.14 19.546 13.14 11.372 19.493 29.828 13.857 37.104 10.6 1.144-8.242 4.449-13.866 8.095-17.05-28.32-3.225-58.092-14.158-58.092-63.014 0-13.92 4.981-25.295 13.138-34.224-1.324-3.212-5.688-16.18 1.235-33.743 0 0 10.707-3.427 35.073 13.07 10.17-2.826 21.078-4.242 31.914-4.29 10.836.048 21.752 1.464 31.942 4.29 24.337-16.497 35.029-13.07 35.029-13.07 6.94 17.563 2.574 30.531 1.25 33.743 8.175 8.929 13.122 20.303 13.122 34.224 0 48.972-29.828 59.756-58.22 62.912 4.573 3.957 8.648 11.717 8.648 23.612 0 17.06-.148 30.791-.148 34.991 0 3.393 2.295 7.369 8.759 6.117 50.634-16.879 87.122-64.656 87.122-120.973C255.009 57.085 197.922 0 127.505 0"></path>
					<path d="M47.755 181.634c-.28.633-1.278.823-2.185.389-.925-.416-1.445-1.28-1.145-1.916.275-.652 1.273-.834 2.196-.396.927.415 1.455 1.287 1.134 1.923M54.027 187.23c-.608.564-1.797.302-2.604-.589-.834-.889-.99-2.077-.373-2.65.627-.563 1.78-.3 2.616.59.834.899.996 2.08.36 2.65M58.33 194.39c-.782.543-2.06.034-2.849-1.1-.781-1.133-.781-2.493.017-3.038.792-.545 2.05-.055 2.85 1.07.78 1.153.78 2.513-.019 3.069M65.606 202.683c-.699.77-2.187.564-3.277-.488-1.114-1.028-1.425-2.487-.724-3.258.707-.772 2.204-.555 3.302.488 1.107 1.026 1.445 2.496.7 3.258M75.01 205.483c-.307.998-1.741 1.452-3.185 1.028-1.442-.437-2.386-1.607-2.095-2.616.3-1.005 1.74-1.478 3.195-1.024 1.44.435 2.386 1.596 2.086 2.612M85.714 206.67c.036 1.052-1.189 1.924-2.705 1.943-1.525.033-2.758-.818-2.774-1.852 0-1.062 1.197-1.926 2.721-1.951 1.516-.03 2.758.815 2.758 1.86M96.228 206.267c.182 1.026-.872 2.08-2.377 2.36-1.48.27-2.85-.363-3.039-1.38-.184-1.052.89-2.105 2.367-2.378 1.508-.262 2.857.355 3.049 1.398"></path>
				  </g>
				</g>
			  </svg>
		</a>
    </header>
	<main class="flex flex-col items-center justify-center">
		<p class="instructions">
			Generate your signal and observe its <code>DFT</code> (Discrete Fourier Transform)<br />
			<strong>Challenge:</strong> Guess the shape of the transform beforehand.
		</p>

			<!-- New flex container for side-by-side layout -->
			<div class="mx-auto w-5/5 w-full flex flex-col md:flex-row gap-12 justify-center pr-20 ml-[-15%]">
				<!-- Left column - Form -->
				<div class="md:w-3/5">
					<h1 class="text-2xl font-bold text-center mb-6 text-purple-400">Signal Generator</h1>
					
					<div class="bg-darker border border-gray-800 rounded-lg shadow-lg p-6">
					<form id="signalForm" class="space-y-4">
						<!-- Row 1: Start and End -->
						<div class="grid grid-cols-2 gap-4">
						<div>
							<label for="a" class="block text-sm font-medium text-white mb-1">Start:</label>
							<input type="number" id="a" name="a" value="-10" step="0.1" min="-50" max="-1"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						<div>
							<label for="b" class="block text-sm font-medium text-white mb-1">End:</label>
							<input type="number" id="b" name="b" value="10" step="0.1" min="1" max="50"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						</div>
						
						<!-- Row 2: Signal Type and Amplitude -->
						<div class="grid grid-cols-2 gap-4">
						<div>
							<label for="signalShape" class="block text-sm font-medium text-white mb-1">Signal Type:</label>
							<select id="signalShape" name="signalShape" 
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
							<option value="square">Square</option>
							<option value="triangle">Triangle</option>
							<option value="sinc">Sinc</option>
							<option value="sin">Sine</option>
							<option value="cos">Cosine</option>
							<option value="exp">Exponential</option>
							</select>
						</div>
						<div>
							<label for="amplitude" class="block text-sm font-medium text-white mb-1">Amplitude (A):</label>
							<input type="number" id="amplitude" name="amplitude" value="1" step="0.1" min="-1000000" max="1000000"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						</div>
						
						<!-- Row 3: Frequency and Phase -->
						<div class="grid grid-cols-2 gap-4">
						<div>
							<label for="frequency" id="freqLabel" class="block text-sm font-medium text-white mb-1">Frequency (f₀):</label>
							<input type="number" id="frequency" name="frequency" value="1" step="0.1" min="0" max="50"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						<div>
							<label for="phase" class="block text-sm font-medium text-white mb-1">Phase:</label>
							<input type="number" id="phase" name="phase" value="0"  step="0.01" min="-100" max="100"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						</div>
						
						<!-- Row 4: Interval and Frequency Range -->
						<div class="grid grid-cols-2 gap-4">
						<div>
							<label for="interval" class="block text-sm font-medium text-white mb-1">Interval:</label>
							<input type="number" id="interval" name="interval" value="0.01" step="0.01" min="0.01" max="0.1"
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						<div>
							<label for="freqrange" class="block text-sm font-medium text-white mb-1">Freq. range of fft:</label>
							<input type="number" id="freqrange" name="freqrange" value="25" step="0.05" min="0.05" max={maxFreq}
							class="w-full bg-dark border border-gray-800 rounded-md py-2 px-3 text-white focus:outline-none focus:ring-2 focus:ring-purple-700">
						</div>
						</div>

						<!-- Row 5: Button -->
						<div class="w-full">
							<div class="flex items-end">
								<button type="submit" 
								class="w-full bg-gradient-to-r from-darkpurple-900 to-darkpurple-800 hover:from-darkpurple-800 hover:to-darkpurple-700 text-white font-medium py-2 px-4 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-purple-700 focus:ring-offset-2 focus:ring-offset-darker shadow-md">
								Generate Signal
								</button>
							</div>
						</div>	
					</form>
					</div>
				</div>
				
				<!-- Right column - Chart and Cards -->
				<div class="md:w-3/5">
					<Chart />
				</div>
			</div>

			<ul role="list" class="link-card-grid my-10">
				<Card
					href="https://en.wikipedia.org/wiki/Discrete_Fourier_transform"
					title="DFT"
					body="Learn more about the DFT and its properties."
				/>
				<Card
					href="https://www.youtube.com/watch?v=h7apO7q16V0"
					title="FFT Algorithm"
					body="This video visually explain the algorithm that is used to transform the input signals."
				/>
			</ul>

		<script type="module">
			import { loadJSONToIndexedDB } from './src/api/load-fft-data.js';
			
			// Get the input elements
			const shapeInput = document.getElementById('signalShape');
			const freqLabelInput = document.getElementById('freqLabel');

			const intervalInput = document.getElementById('interval');
			const freqRangeInput = document.getElementById('freqrange');

			function updateFreqLabel() {
				if (shapeInput.value === "square") {
					freqLabelInput.textContent = "Duration (T):";
				} else if (shapeInput.value === "triangle") {
					freqLabelInput.textContent = "Duration (2T):";
				}
			}
			
			function updateDynamicMax() {
			// Get the current interval value (as a number)
			const currentInterval = parseFloat(intervalInput.value);
			// Assume you calculate total_samples from other inputs, for example:
			const a = parseFloat(document.getElementById('a').value);
			const b = parseFloat(document.getElementById('b').value);
			const total_samples = Math.ceil((b - a) / currentInterval);
			
			// Calculate your dynamic max (use your formula here)
			const dynamicMax = Math.floor(10*(total_samples - Math.round(total_samples/2))/(total_samples * currentInterval)) / 10;
			
			console.log("Dynamic Max:", dynamicMax);
			
			// Update the max attribute and current value if needed
			freqRangeInput.setAttribute('max', dynamicMax);
			if (parseFloat(freqRangeInput.value) > dynamicMax) {
				freqRangeInput.value = dynamicMax;
			}
			}

			// Attach an event listener to update when the interval value changes
			intervalInput.addEventListener('input', updateDynamicMax);
			updateDynamicMax(); // call on load
			shapeInput.addEventListener('input', updateFreqLabel);
			updateFreqLabel(); // call on load

			// Optionally, you might also want to update when the a or b inputs change
			document.getElementById('a').addEventListener('input', updateDynamicMax);
			document.getElementById('b').addEventListener('input', updateDynamicMax);


			const signalForm = document.getElementById('signalForm');

			signalForm.addEventListener('submit', async (event) => {
			event.preventDefault(); // Prevent the default form submission (and redirect)

			// Collect form data to a plain object
			const formData = new FormData(signalForm);
			const data = Object.fromEntries(formData.entries());

			try {
				const response = await fetch('http://localhost:3000/execute-fft', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(data)
				});
				
				if (!response.ok) {
				throw new Error(`HTTP error! Status: ${response.status}`);
				}
				
				// This is where you read the JSON response returned by the server.
				const fftData = await response.json();
				console.log("Received FFT JSON:", fftData);
				await loadJSONToIndexedDB(fftData);
				window.updateChartData?.(data);

				// Now update your charts with the new data.
				// For example, if you have a function to update charts, call it with fftData.
				// updateCharts(fftData);
				
			} catch (error) {
				console.error('Error executing FFT:', error);
				alert('Error executing FFT');
			}
			});
		</script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		column-gap: 2rem; /* horizontal space */
		row-gap: 1rem;    /* vertical space */
		padding: 0;
	}
</style>
