---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Chart from '../components/Chart.astro';
---

<Layout title="SigTransformer">
	<main>
		<h1>Signal <span class="text-gradient">Transformer</span></h1>
		<p class="instructions">
			Generate your signal and observe its <code>DFT</code> (Discrete Fourier Transform)<br />
			<strong>Challenge:</strong> Guess the shape of the transform beforehand.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://en.wikipedia.org/wiki/Discrete_Fourier_transform"
				title="DFT"
				body="Learn more about the DFT and its properties."
			/>
			<Card
				href="https://www.youtube.com/watch?v=h7apO7q16V0"
				title="FFT Algorithm"
				body="This video visually explain the algorithm that is used to transform the input signals."
			/>
		</ul>
		<Chart />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
