<script>
import { createChart } from 'lightweight-charts';
import { getData } from '../signals/dataFetching';

const chartOptions = {
  width: 800,
  height: 300,
	layout: {
		textColor: 'white',
		background: { color: '#13151a' },
	},
};
const optionsToApply = {
	rightPriceScale: {
		scaleMargins: {
			top: 0.4, // leave some space for the legend
			bottom: 0.15,
		},
	},
	crosshair: {
		// hide the horizontal crosshair line
		horzLine: {
			visible: false,
			labelVisible: false,
		},
	},
	// hide the grid lines
	grid: {
		vertLines: {
			visible: false,
		},
		horzLines: {
			visible: false,
		},
	},
}

const { inputSignal }= await getData()
const inputChart = createChart(document.getElementById('container1'), chartOptions);
const inputAreaSeries = inputChart.addAreaSeries({
	topColor: '#d5b8f9',
	bottomColor: 'rgba(213, 184, 249, 0.5)',
	lineColor: '#d5b8f9',
	lineWidth: 2,
});
inputChart.applyOptions(optionsToApply)
inputAreaSeries.setData(inputSignal);
inputChart.timeScale().fitContent();

const { outputSignal }= await getData()
const outputChart = createChart(document.getElementById('container2'), chartOptions);
outputChart.applyOptions(optionsToApply);

const outputAreaSeries = outputChart.addAreaSeries({
	topColor: '#d5b8f9',
	bottomColor: 'rgba(143, 67, 234, 0.33)',
	lineColor: '#d5b8f9',
	lineWidth: 2,
});


outputAreaSeries.setData(outputSignal);

const outputSymbolName = ""

outputChart.timeScale().fitContent();
</script>

<div id="container1"></div>
<div id="container2"></div>
